.text-input {
  border: 1px solid #cacccd;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $xs-size;
  background-color: $off-white;
}

.select {
  @extend .text-input;
}

.footer-form {
  &table,
  tbody,
  tr,
  td {
    border: none;
  }
}
