.box-layout__content--table {
  .rover {
    background-image: url("/images/rover-l.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s;
  }

  .start-cell {
    border: solid 2px green;
    background-color: green;
  }

  .end-cell {
    background-color: red;
  }

  .rover-orientation-E {
    transform: scaleX(-1);
  }

  .rover-orientation-W {}

  .rover-orientation-N {
    transform: rotate(90deg);
  }

  .rover-orientation-S {
    transform: rotate(-90deg);
  }

  table {
    border: solid 0.5px black;
  }

  td {
    border: dashed 0.5px black;
    @include transition(all 0.2s);


    height: 3rem;
    width: 3rem;

    @media (min-width: $desktop-breakpoint) {
      height: 4rem;
      width: 4rem;
    }

    text-align: center;
    vertical-align: middle;
    color: black;
    font-weight: bold;
  }

  .plateau-cell {}
}