.slider__control-group > * {
  vertical-align: middle;
  display: inline-block;
}
.slider__control-group {
  padding: 1rem;
}
.slider__title {
  color: purple;
  display: block;
}
.slider__range {
  color: green;
}
