.slider__control-group>* {
  vertical-align: middle;
  display: inline-block;
}

.slider__control-group {
  padding: $m-size;
}

.slider__title {
  color: $teal;
  display: block;
  font-weight: bold;
}

.slider__range {
  color: $teal;
}

.slider {
  -webkit-appearance: none;
  height: $m-size;
  background: $off-white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  @media (max-width: $desktop-breakpoint) {
    width: 75%
  }

}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: $m-size;
  height: $m-size;
  background: $teal;
  background: url('/images/rover-l.png');
  background-size: contain;
  background-position: center;
  cursor: grabbing;
}

.slider::-moz-range-thumb {
  width: $m-size;
  height: $m-size;
  background: $teal;
  background-image: url('/images/rover-l.png');
  background-size: contain;
  background-position: center;
  cursor: grabbing;
}