@import "./partials/mixins";
@import "./base/settings";
@import "./base/base";

@import "./components/box-layout";
@import "./components/slider";
@import "./components/input";
@import "./components/rover";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: none;
  border-color: transparent;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

body {
  line-height: 1.6rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}