// Colors
$dark-grey: #333;
$light-grey: #888;
$teal: rgba(0, 127, 127, 0.8);
$teal-hover: rgba(0, 127, 127, 1);
$light-green: #20b2aa;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
